.show-checkout {
    padding-top: 40px;
    padding-bottom: 45px;
}
.continue-shop {
    color: #575555 !important;
}
.order-table {
    margin-bottom: 40px !important;
}
.checkout-content {
    margin-bottom: -5px;
}
.checkout-cp {
    margin-bottom: 5px !important;
}
.code-voucher {
    height: 40px !important;
}
.code-submit-btn {
    padding: 10px 25px 10px 35px !important;
}
.checkout-form .place-order .order-total .order-table li {
    font-size: 15px !important;
}
.login-to-checkout {
    margin-bottom: 20px !important;
}
.btn-login-checkout {
    padding: 10px 20px !important;
}
