.info-list {
    margin: 50px 175px;
}
.info_user label {
    font-weight: 400px;
    font-size: 20px;
    margin-left: -50px;
}
.info_user p {
    font-size: 19px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: oblique;
}
.info_box {
    border: 2px solid #b3b1b1;
}
.user_text {
    max-width: 50%;
}
.user {
    padding-right: 80px;
    margin-right: -200px;
    margin-left: 360px;
}
.user_password {
    margin-bottom: -15px;
}
.change_password {
    color: #2f80ed;
    background-color: #ffffff;
    margin-bottom: -15px;
    margin-top: 10px;
}
.info_user_button {
    min-width: 100px;
    margin-left: -20px;
    margin-top: -15px;
}
