.show-rating i {
    font-size: 13px !important;
}
.star-pro i {
    font-size: 18px !important;
}
.star-pro span {
    font-size: 18px !important;
}
.page-details {
    padding-top: 40px;
    padding-bottom: 45px;
}
.pd-sold-pro {
    position: absolute !important;
    margin-left: 115px !important;
}

.pd-sold-pro span {
    list-style: none;
    font-size: 16px;
    color: #636363;
    line-height: 30px;
}
