.no-product {
    text-align: center;
}

.show-shoppingCart {
    padding-top: 40px;
    padding-bottom: 45px;
}

.text-noPro {
    font-size: 30px;
    margin-bottom: 20px;
}

.active-for-click {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
}

.active-for-click:hover {
    color: #0561c3;
    text-decoration: none;
    background-color: transparent;
}

.voucher-code {
    background: #f3f3f3 !important;
    font-size: 16px !important;
    color: #252525 !important;
}
